<% layout('layouts/boilerplate')%>

  <section class="hero-section">
    <div class="hero-slider">
      <div class="hero-item set-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <h4>Welcome to</h4>
              <h2 id="element"></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main>
    <section id="aboutus" class="about">
      <div class="container">
        <div class="section-title">
          <h2>ABOUT US</h2>
        </div>
        <div class="row content">
          <div class="col-lg-12">
            <p style="font-size: 20px; text-align: center;">The Research Society is Manipal's official student research
              body that works on an array of research projects, covering a broad span of fields, from artificial
              intelligence and robotics to nanotechnology and immunology.</p>
          </div>
        </div>
        <div class="section-title-smol">
          <h2>WHAT WE DO</h2>
        </div>
        <div class="row content pt-4">
          <div class="col-lg-12">
            <p style="text-align: center;">Our aim is to facilitate the development of a research community that can
              work on projects, both interdisciplinary and otherwise. We also look to bridge the gap between our
              students and alumni from universities all across the globe, many of whom have an illustrious research
              background themselves. Along with this, we have several students who have published research and bagged
              foreign internships at premier institutes. </p>
          </div>
        </div>
        <div class="row content pt-3">
          <div class="col-lg-12">
            <p style="text-align: center;">RSM actively strikes to foster a holistic spirit of research and encourages
              students to pursue research in the hopes of making a meaningful contribution. To this end, several of our
              events, such as the paper discussion sessions, breakout discussions and alumni webinars are open to
              everyone. Additionally, we also provide guidance to students of the institute, regardless of their prior
              research background and affiliation to the organization. </p>
          </div>
        </div>
      </div>
    </section>

    <section id="fact" class="fact">
      <div class="container">
        <div class="section-title pb-5 pt-5">
          <h2>OUR DOMAINS</h2>
        </div>

        <div class="row cs-card align-items-center">

          <div class="col-lg-12">
            <div class="fact-item fact-item-1 m-0" style="background: none; box-shadow: none;">
              <img src="img/computer.png" alt="Icon">
              <h2>COMPUTER SCIENCE</h2>
              <p class="px-2 m-0" style="text-align: none;">Computer science is now a major innovation catalyst for all
                aspects of human endeavor. Our research aims to develop tomorrow’s information technology. Our work
                ranges from computer graphics to cybersecurity, and we are always looking for new horizons to pursue.
              </p>
            </div>
          </div>

          <div class="col-lg-6 pl-3 pr-2">
            <div class="fact-item">
              <img src="img/AI.png" alt="Icon">
              <h2>ARTIFICIAL INTELLIGENCE</h2>
              <p class="px-2" style="text-align: none;">AI is an interdisciplinary science with multiple approaches.
                Research in machine learning and deep
                learning has brought about a paradigm shift in virtually every aspect of life. At RSM, we dive into
                several sub-fields such as NLP, CV, Reinforcement Learning, GANs, Federated Learning and so much more.
              </p>
            </div>
          </div>

          <div class="col-lg-6 pr-3Fby pl-2">
            <div class="fact-item">
              <img src="img/cybersec.png" alt="Icon">
              <h2>CYBER SECURITY</h2>
              <p class="px-2" style="text-align: none;"> Cybersecurity is a domain aiming to protect interconnected
                information
                infrastructures. At RSM we bring out both the blue and red team sides of security and dive into the game
                of maintaining data integrity.

              </p>
            </div>
          </div>
        </div>


        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="fact-item">
              <img src="img/physics.png" alt="Icon">
              <h2>PHYSICS</h2>
              <p class="px-2" style="text-align: none;">Built on the boundaries that define our universe, Physics
                attempts to discover and define its underlying mechanism. Ranging from Quantum mechanics, Material
                science to General relativity, we aim to peel away the fabric of this world, one discovery at a time.

              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="fact-item">
              <img src="img/electric.png" alt="Icon">
              <h2>ELECTRONICS</h2>
              <p class="px-2" style="text-align: none;">Electronics is a culmination of physics, nanomaterials, quantum
                mechanics, signal processing, circuit
                design and algorithms. We dive into the nano realm to make things like nanoscale devices, quantum
                computing, neuromorphic computing and so much more possible.</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="fact-item">
                <img src="img/arm.png" alt="Icon">
                <h2>ROBOTICS</h2>
                <p class="px-2" style="text-align: none;">Robotics is an integration of maths, physics, and engineering
                  fields. At RSM, we are focused on intense
                  research in the fields of perception, planning, kinematics sprawling across autonomous systems,
                  multi-agent systems, biomedical robots to name a few.</p>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="fact-item">
                <img src="img/bio.png" alt="Icon">
                <h2>BIOTECHNOLOGY</h2>
                <p class="px-2" style="text-align: none;">Biotechnology is the sweet spot between Biology, Technology
                  and Engineering. It's the area of study
                  responsible for production of medicines, environmental control, vaccines, cancer research and many
                  more
                  fields.</p>
              </div>
            </div>
          </div>


        </div>
        <div class="row align-items-center">


          <div class="col-lg-6">
            <div class="fact-item">
              <img src="img/aero.png" alt="Icon">
              <h2>AEROSPACE AND AERONAUTICS</h2>
              <p class="px-2" style="text-align: none;">Aerospace and Aeronautics covers topics from material science to
                thermodynamics, from Fluid Dynamics to
                Control Systems. This domain opens up opportunities to an evergrowing research arena that has seen an
                uprising due to the recent interests in the commercialization of the space industry.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="fact-item">
              <img src="img/renew.png" alt="Icon">
              <h2>RENEWABLE ENERGY AND HEAT TRANSFER</h2>
              <p class="px-2" style="text-align: none;">Renewable Energy sources provide energy without any harmful side
                effects and by extensively studying these resources and contributing towards a sustainable environment.
                The Heat Transfer domain works on problems pertaining to the transfer of heat like Passive Cooling,
                Novel Heat Transfer methods and so on.

              </p>
            </div>
          </div>




        </div>
        <div class="row align-items-center">

          <div class="col-lg-6">
            <div class="fact-item">
              <img src="img/design.png" alt="Icon">
              <h2>DESIGN AND PSYCHOLOGY</h2>
              <p class="px-2" style="text-align: none;">Design and psychology is all about people and their interaction
                with
                technology. This involves studying the influence products have on user behaviour or testing new designs
                for usability. We explore different areas of technology and try to make the experience better for
                people.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="fact-item">
              <img src="img/chemical.png" alt="Icon">
              <h2>CHEMICAL ENGINEERING</h2>
              <p class="px-2" style="text-align: none;">Chemical engineering shows paths to various interesting fields
                like Nanotechnology, Drug Delivery,
                Thermodynamics and Renewable energy among countless others. We aim to overcome some of the toughest
                challenges of the 21st century like climate change, vaccines, drinking water scarcity etc.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="contact-section spad" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="contact-text">
              <h4>CONTACT US</h4>
              <div class="ct-item">
                <div class="ci-icon">
                  <span class="bx bx-map"></span>
                </div>
                <div class="ci-text">
                  <ul>
                    <li>
                      <span>OUR LOCATION</span>
                      MIT, Manipal
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ct-item">
                <div class="ci-icon">
                  <span class="bx bx-phone"></span>
                </div>
                <div class="ci-text">
                  <ul>
                    <li>
                      <span>PHONE</span>
                      +91 9521579419 (Supriti V.)<br>
                      +91 9769298001 (Aditya N.)
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ct-item">
                <div class="ci-icon">
                  <span class="bx bx-envelope"></span>
                </div>
                <div class="ci-text">
                  <ul>
                    <li>
                      <span>MAIL</span>
                      research.society.mit@gmail.com
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="contact-option">
              <h4>LEAVE A COMMENT</h4>
              <form action="/sendemail" method="post" role="form" class="comment-form contact-form">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                  </div>
                  <div class="col-lg-12">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                  </div>
                  <div class="col-lg-12">
                    <textarea class="form-control" name="message" placeholder="Message"></textarea>
                    <button type="submit" class="site-btn">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->